__pycache__
/target
*.swp
*.swo

# Added by cargo

/target
/Cargo.lock
/haskell/dist-newstyle
/haskell/.ghc.environment.*
/haskell/cabal.project.local
/haskell/cabal.project.local~
/haskell/seuss-hs.cabal.project.local
